<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Yale Art - Artist Showcase</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/js/sequencejs/css/sequence-theme.basic.css">
		<link rel="stylesheet" href="/static/css/ArtShowcase.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="/static/js/loadTemplates.js"></script>
	</head>
	<body>
		<div style="overflow: hidden; max-height: 100vh;" class="container-fluid">
			<div id="header"></div>
			<div id="sequence">
				<!-- SEQUENCE CONTROLS -->
				<div style="position: absolute; margin-top: 5px; z-index: 1000; background-color: #E0E0E0; min-width: 3vw;">
					<fieldset class="seq-nav" aria-controls="sequence" style="margin: 5px;" aria-label="Slider buttons">
						<button type="button" class="seq-prev" aria-label="Previous">
						<span class="seq-prev-arrow">&lt;</span>
						</button>
						<button type="button" class="seq-next" aria-label="Next">
						<span class="seq-next-arrow">&gt;</span>
						</button>
					</fieldset>
				</div>
				<div class="row" style="overflow: hidden;">
					<!-- BEGIN SEQUENCE CANVAS -->
					<ul class="seq-canvas">
						<!-- STEP 1 SECTION -->
						<li class="col-md-12" id="step1">
							<div class="row text-center" style="z-index: 100; height: 5vh; width: 100vw;">
								<h3 class="galleryhead"> Sculpture </h3>
							</div>
							<div class="row text-center" style="height: 23vh;">
								<div class="col-md-12">
									<div class="gallery">
										<a href="/" ><img class="img-responsive" src="/static/img/showcase/scul_1_1.jpg"></a>
										<img class="img-responsive" src="/static/img/showcase/scul_1_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_1_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_1_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_1_5.jpg">
									</div>
									
								</div>
							</div>
							<div class="row" style="height: 23vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/scul_2_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_2_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_2_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_2_4.jpg">
									</div>
								</div>
							</div>
							<div class="row" style="height: 23vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/scul_3_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_3_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_3_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_3_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/scul_3_5.jpg">
									</div>
								</div>
							</div>
							
						</li>
						<!-- STEP 2 SECTION -->
						<li class="col-md-12" id="step2">
							<div class="row text-center" style="z-index: 100; height: 5vh; width: 100vw;">
								<h3 class="galleryhead"> Painting </h3>
							</div>
							<div class="row" style="height: 23vh;">
								<div class="col-md-12">
									
									<div class="gallery">
										<a href="/" ><img class="img-responsive" src="/static/img/showcase/pain_1_1.jpg"></a>
										<img class="img-responsive" src="/static/img/showcase/pain_1_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_1_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_1_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_1_5.jpg">
									</div>
									
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/pain_2_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_2_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_2_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_2_4.jpg">
									</div>
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/pain_3_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_3_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_3_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_3_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/pain_3_5.jpg">
									</div>
								</div>
							</div>
							
						</li>
						<!-- STEP 3 SECTION -->
						<li class="col-md-12" id="step3">
							<div class="row text-center" style="z-index: 100; height: 5vh; width: 100vw;">
								<h3 class="galleryhead"> Photography </h3>
							</div>
							<div class="row" style="height: 23vh;">
								<div class="col-md-12">
									
									<div class="gallery">
										<a href="/" ><img class="img-responsive" src="/static/img/showcase/phot_1_1.jpg"></a>
										<img class="img-responsive" src="/static/img/showcase/phot_1_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_1_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_1_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_1_5.jpg">
									</div>
									
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/phot_2_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_2_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_2_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_2_4.jpg">
									</div>
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/phot_3_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_3_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_3_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_3_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/phot_3_5.jpg">
									</div>
								</div>
							</div>
							
						</li>
						<!-- STEP 4 SECTION -->
						<li class="col-md-12" id="step4">
							<div class="row text-center" style="z-index: 100; height: 5vh; width: 100vw;">
								<h3 class="galleryhead"> Film </h3>
							</div>
							<div class="row" style="height: 23vh;">
								<div class="col-md-12">
									
									<div class="gallery">
										<a href="/" ><img class="img-responsive" src="/static/img/showcase/film_1_1.gif"></a>
										<img class="img-responsive" src="/static/img/showcase/film_1_2.gif">
										<img class="img-responsive" src="/static/img/showcase/film_1_3.gif">
										<img class="img-responsive" src="/static/img/showcase/film_1_4.gif">
										<img class="img-responsive" src="/static/img/showcase/film_1_5.gif">
									</div>
									
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/film_2_1.gif">
										<img class="img-responsive" src="/static/img/showcase/film_2_2.gif">
										<img class="img-responsive" src="/static/img/showcase/film_2_3.gif">
										<img class="img-responsive" src="/static/img/showcase/film_2_4.gif">
									</div>
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/film_3_1.gif">
										<img class="img-responsive" src="/static/img/showcase/film_3_2.gif">
										<img class="img-responsive" src="/static/img/showcase/film_3_3.gif">
										<img class="img-responsive" src="/static/img/showcase/film_3_4.gif">
										<img class="img-responsive" src="/static/img/showcase/film_3_5.gif">
									</div>
								</div>
							</div>
							
						</li>
						<!-- STEP 5 SECTION -->
						<li class="col-md-12" id="step5">
							<div class="row text-center" style="z-index: 100; height: 5vh; width: 100vw;">
								<h3 class="galleryhead"> Graphic Design </h3>
							</div>
							<div class="row" style="height: 23vh;">
								<div class="col-md-12">
									
									<div class="gallery">
										<a href="/" ><img class="img-responsive" src="/static/img/showcase/gd_1_1.jpg"></a>
										<img class="img-responsive" src="/static/img/showcase/gd_1_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_1_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_1_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_1_5.jpg">
									</div>
									
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/gd_2_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_2_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_2_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_2_4.jpg">
									</div>
								</div>
							</div>
							<div class="row" style="height: 28vh;">
								<div class="col-md-12">
									<div class="gallery">
										<img class="img-responsive" src="/static/img/showcase/gd_3_1.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_3_2.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_3_3.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_3_4.jpg">
										<img class="img-responsive" src="/static/img/showcase/gd_3_5.jpg">
									</div>
								</div>
							</div>
							
						</li>
						<!--END SEQUENCE CANVAS-->
					</ul>
				</div>
			</div>
		</div>
		<script src="static/js/sequencejs/scripts/imagesloaded.pkgd.min.js"></script>
		<script src="static/js/sequencejs/scripts/hammer.min.js"></script>
		<script src="static/js/sequencejs/scripts/sequence.min.js"></script>
		<script src="static/js/sequencejs/scripts/sequence-theme.basic.js"></script>
	</body>
</html>