<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
</style>
</head>
<body>
<!--top header-->
<div class="container">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			<img src="../src/src_selected_icons/YaleArt_Logo.png" class="img-responsive" style="padding-top: 20px; padding-bottom: 10px">
		</div>
	</div>
</div>


<!--pictures-->
<div class="container">
	<div class="row no-gutter">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="ArtsHomePage.html">
				<img src="../src/src_selected_img/sculpture_cropped.jpg" id="sculpture" class="img-responsive" onmouseover="this.src='../src/src_selected_img/sculpture_cropped_glow.jpg';" onmouseout="this.src='../src/src_selected_img/sculpture_cropped.jpg';">
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 row no-gutter">
			<a href="#">
				<img src="../src/src_selected_img/painting_cropped.jpg" id="painting" class="img-responsive" onmouseover="this.src='../src/src_selected_img/painting_cropped_glow.jpg';" onmouseout="this.src='../src/src_selected_img/painting_cropped.jpg';">
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#">
				<img src="../src/src_selected_img/photographer_cropped.jpg" id="photographer" class="img-responsive" onmouseover="this.src='../src/src_selected_img/photographer_cropped_glow.jpg';" onmouseout="this.src='../src/src_selected_img/photographer_cropped.jpg';">
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#">
				<img src="../src/src_selected_img/film_cropped.jpg" id="film" class="img-responsive" onmouseover="this.src='../src/src_selected_img/film_cropped_glow.jpg';" onmouseout="this.src='../src/src_selected_img/film_cropped.jpg';">
			</a>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<a href="#">
				<img src="../src/src_selected_img/graphic_design_cropped.jpg" id="graphicdesign" class="img-responsive" onmouseover="this.src='../src/src_selected_img/graphic_design_cropped_glow.jpg';" onmouseout="this.src='../src/src_selected_img/graphic_design_cropped.jpg';">
			</a>
		</div>
</div>


</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>