<!doctype html>

<html lang="en">

	<head>
		
		<title>Yale Art - Programs</title>

		<meta charset="UTF-8">

		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Set the page to the width of the device and set the zoom level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="static/css/HomePage.css">

		<!-- Load header from templates -->
		<script src="static/js/loadTemplates.js"></script>

	</head>

	<body>
	


		<!-- HEADER -->

		<div id="header"></div>

		<!-- BODY -->

		<div class="container-fluid">
			<div class="row" id="Yale-core">
				<a href="/ArtsHomePage"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="Yale-core-first-element">Arts</div></a>

				<a href="/AdmissionHomePage"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="Yale-core-element">Admission</div></a>

				<a href="/ProgramsHomePage"><div class="col-lg-3 col-md- col-sm-3 col-xs-3" id="Yale-core-element">Programs</div></a>

				<a href="http://artscalendar.yale.edu/"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="Yale-core-last-element">Events</div></a>
			</div>
		</div>

		<!-- RESOURCES PANEL -->

		<div class="container-fluid">

			<div class="row" id="Yale-footer">

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-first-element"></div>

				<a href="/Resources"><div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="Yale-footer-element">Resources</div></a>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-last-element"></div>

			</div>

		</div>

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 
		<!-- Use downloaded version of Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	</body>

</html>