<!doctype html>

<html lang="en">

	<head>
		
		<title>Yale Art - Programs</title>

		<meta charset="UTF-8">

		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Set the page to the width of the device and set the zoom level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<!--
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		-->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="static/css/ProgramsHomePage.css">

		<!-- Load header from templates -->
		<script src="static/js/loadTemplates.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/footer.css">

	</head>

	<body>

		<!-- HEADER -->

		<div id="header"></div>

		<!-- BODY -->

		<div class="container-fluid">
			<div class="row" id="Yale-core">
				<a href="/ProgramsSculpture"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-core-first-element">Sculpture</div></a>

				<a href="/ProgramsPainting"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-core-element">Painting</div></a>

				<a href="/ProgramsPhotography"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-core-element">Photography</div></a>

				<a href="/ProgramsFilmAndMovieMaking"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-core-element">Film &amp; Movie Making</div></a>

				<a href="/ProgramsGraphicDesign"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-core-element">Graphic Design</div></a>

				<a href="/SummerPrograms"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-core-last-element">Summer Programs</div></a>
			</div>
		</div>

		<!-- FOOTER -->

		<div id="footer"></div>

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 
		<!-- Use downloaded version of Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	</body>

</html>