<!doctype html>

<html lang="en">

	<head>
		
		<title>Yale Art - Painting Program</title>

		<meta charset="UTF-8">

		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Set the page to the width of the device and set the zoom level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<!--
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		-->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="static/css/ProgramsGraphicDesign.css">

		<!-- Load header from templates -->
		<script src="static/js/loadTemplates.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/footer.css">

	</head>

	<body>

		<!-- HEADER -->
		
		<div id="header"></div>

		<div class="container-fluid">
			<div class="row" id="Yale-sub-header">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="Yale-sub-header-title">Programs</div>
			</div>
		</div>

		<!-- BODY -->

		<div class="container-fluid">
			<div class="row" id="Yale-core">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="Yale-core-left">
				
					<div row="container">
						<div class="row">

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="Yale-core-left-title">
								<p>Painting</p>
							</div>

						</div>
					</div>


					<div class="panel panel-primary no-padding">

						<div class="panel-body fixed-panel">

							<h4>The standard Lorem Ipsum passage, used since the 1500s</h4>

							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

							<h4>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h4>

							<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

							<h4>1914 translation by H. Rackham</h4>

							<p>"Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?""</p>
						</div>
					</div>
					
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="Yale-core-right">

					<div row="container">
						<img src="/static/img/Painting.jpg" class="img" alt="A Graphic Designer" id="Yale-core-right-image">
					</div>

					<div row="container">
						<div class="row" id="Yale-core-right-buttons">

							<a href="/courses">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="Yale-core-right-search-course-button">
									<p>Search Course</p>
								</div>
							</a>

							<a href="/studentprofiles">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="Yale-core-right-student-profile-button">
									<p>Student Profile</p>
								</div>
							</a>

							<a href="-fill-">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="Yale-core-right-faculty-staff-button">
									<p>Faculty &amp; Staff</p>
								</div>
							</a>

						</div>
					</div>

					<div class="container-fluid"  id="Yale-core-right-panel">
						<div class="panel panel-primary">

							<div class="panel-body fixed-panel">

								<h4>The standard Lorem Ipsum passage, used since the 1500s</h4>

								<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

								<h4>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</h4>

								<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

								<h4>1914 translation by H. Rackham</h4>

								<p>"Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?""</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- FOOTER -->

  		<div id="footer"></div>

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 
		<!-- Use downloaded version of Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	</body>

</html>