<!doctype html>

<html lang="en">

	<head>
		
		<title>Yale Art - Programs</title>

		<meta charset="UTF-8">

		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Set the page to the width of the device and set the zoom level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<!--
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		-->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="static/css/Resources.css">

		<!-- Load header from templates -->
		<script src="static/js/loadTemplates.js"></script>

	</head>

	<body>

		<!-- HEADER -->

		<div id="header"></div>

		<!-- BODY -->

		<div class="container-fluid">
			<div class="row" id="Yale-core">
				<a href="/ProgramsSculpture"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="Yale-core-first-element">Arts</div></a>

				<a href="/ProgramsPainting"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="Yale-core-element">Admission</div></a>

				<a href="/ProgramsPhotography"><div class="col-lg-3 col-md- col-sm-3 col-xs-3" id="Yale-core-element">Programs</div></a>

				<a href="/ProgramsGraphicDesign"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="Yale-core-last-element">Events</div></a>
			</div>
		</div>

		<!-- RESOURCES PANEL -->

		<div class="container-fluid">

			<div class="row" id="Yale-footer">

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-first-element"></div>

				<div class="col-lg-10 col-md-10 col-sm-10" id="Yale-footer-element">Ressources

					<div class="container">
					  <div class="row">
					    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					        <ul class="nav nav-tabs tabs-left">

								<li clas="active"><a href="#AcademicCalendar" data-toggle="tab">
								<span>Academic Calendar</span>
								</a></li>

								<li><a href="#Accessibility" data-toggle="tab">
								<span>Accessibility</span>
								</a></li>

								<li><a href="#FacultyAndStaff" data-toggle="tab">
								<span>FacultyAndStaff</span>
								</a></li>

								<li><a href="#Facilities" data-toggle="tab">
								<span>Facilities</span>
								</a></li>

								<li><a href="#Policy" data-toggle="tab">
								<span>Policy</span>
								</a></li>

							</ul>

					        <div class="tab-content">

								<div class="tab-pane active" id="#AcademicCalendar">
								1Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
								</div>

								<div class="tab-pane" id="#Accessibility">
								2Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
								</div>

								<div class="tab-pane" id="#FacultyAndStaff">
								Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
								</div>

								<div class="tab-pane" id="#Facilities">
								Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
								</div>

								<div class="tab-pane" id="#Policy">
								Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
								</div>

					        </div><!-- /tab-content -->
					    </div><!-- /col -->
					  </div><!-- /row -->
					</div><!-- /container -->

					<!-- <div class="container">
					  <div class="row">
					    <div class="col-md-4 col-sm-5">
					      <div class="tabs-left">
					        <ul class="nav nav-tabs">

					          <li><a href="#AcademicCalendar" data-toggle="tab">
					          <span>Academic Calendar</span>
					          </a></li>

					          <li><a href="#Accessibility" data-toggle="tab">
					          <span>Accessibility</span>
					          </a></li>

					          <li><a href="#FacultyAndStaff" data-toggle="tab">
					          <span>FacultyAndStaff</span>
					          </a></li>
					          
					          <li><a href="#Facilities" data-toggle="tab">
					          <span>Facilities</span>
					          </a></li>
					          
					          <li><a href="#Policy" data-toggle="tab">
					          <span>Policy</span>
					          </a></li>
					        
					        </ul>

					        <div class="tab-content">

							<div class="tab-pane" id="#AcademicCalendar">
							1Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
							</div>

							<div class="tab-pane" id="#Accessibility">
							2Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
							</div>

							<div class="tab-pane" id="#FacultyAndStaff">
							Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
							</div>

							<div class="tab-pane" id="#Facilities">
							Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
							</div>

							<div class="tab-pane" id="#Policy">
							Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
							</div>

					        </div>
					      </div><
					    </div>
					  </div>
					</div> -->

				</div>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-last-element"></div>

			</div>

		</div>

		<script>
			var tabsFn = (function() {
			  
			  function init() {
			    setHeight();
			  }
			  
			  function setHeight() {
			    var $tabPane = $('.tab-pane'),
			        tabsHeight = $('.nav-tabs').height();
			    
			    $tabPane.css({
			      height: tabsHeight
			    });
			  }
			    
			  $(init);
			})();
		</script>

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 
		<!-- Use downloaded version of Bootstrap -->
		<script src="js/bootstrap.min.js"></script>

	</body>

</html>