<!DOCTYPE html>
<html>
<head>
<title>Yale Art - Student Profiles</title>
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
<!-- Bootstrap -->
<link href = "css/bootstrap.min.css" rel = "stylesheet">

<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" href="/static/css/main.css">
<script src="../static/js/loadTemplates.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="Stylesheet" type="text/css" href="../static/css/content.css">
<link rel="Stylesheet" type="text/css" href="../static/css/carousel.css">

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../static/js/studentsdatabase.js"></script>
<script type="text/javascript" src="../static/js/jquery.carousel-1.1.min.js"></script>
<script type="text/javascript" src="../static/js/sample01.js"></script>
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
</head>

<body onload="createTable()">
    <div class="container-fluid">
      <div id="header"></div>

      <div>
        <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/header">HEADER</a></li>
            <li><a href="/showcase">Artist Showcase</a></li>
            <li><a href="/courses">Courses</a></li>
          </ul>
        </nav>
      </div>
      <br/>

      <div class="jumbotron">
        <div class="jquery-script-clear"></div>

        <!-- carousel -->

        <div class="carousel">
          <!-- BEGIN CONTAINER -->

          <div class="slides" style="width: 930px; height: 330px;"> <!-- BEGIN CAROUSEL -->

            <div class="slideItem" style="width: 256px; height: 411.2px; top: 54px; right: 34.6px; opacity: 1; z-index: 4; display: block; color: black"> <!-- SLIDE ITEM -->
              <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                <p id="name1" style="font-size: 30px; font-weight: bold"></p>
                <p id = "program1" style="font-size: 15px"></p>
                <br><br><br><Br><p id="bio1" style="font-size: 18px"></p><p id="website1" style="font-size: 15px"></p></div>
            </div>

            <div class="slideItem" style="width: 204.8px; height: 368.96px; top: 73.2px; right: -47.32px; opacity: 0; z-index: 3; display: none;">
              <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                <p id="name2" style="font-size: 30px; font-weight: bold"></p><p id = "program2" style="font-size: 15px"></p>
                <br><br><br><Br><p id="bio2" style="font-size: 18px"></p><p id="website2" style="font-size: 15px"></p></div>
            </div>

            <div class="slideItem" style="width: 204.8px; height: 368.96px; top: 73.2px; right: 772.52px; opacity: 0; z-index: 3; display: none;">
              <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                <p id="name3" style="font-size: 30px; font-weight: bold"></p><p id = "program3" style="font-size: 15px"></p>
                <br><br><br><Br><p id="bio3" style="font-size: 18px"></p><p id="website3" style="font-size: 15px"></p></div>
            </div>

            <div class="slideItem" style="width: 256px; height: 411.2px; top: 54px; right: 639.4px; opacity: 1; z-index: 4; display: block;">
              <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                <p id="name4" style="font-size: 30px; font-weight: bold"></p><p id = "program4" style="font-size: 15px"></p>
                <br><br><br><Br><p id="bio4" style="font-size: 18px"></p><p id="website4" style="font-size: 15px"></p></div>
            </div>

            <div class="slideItem" style="width: 320px; height: 464px; top: 30px; right: 473px; opacity: 1; z-index: 5; display: block;">
                <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                  <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                  <p id="name5" style="font-size: 30px; font-weight: bold"></p><p id = "program5" style="font-size: 15px"></p>
                  <br><br><br><Br><p id="bio5" style="font-size: 18px"></p><p id="website5" style="font-size: 15px"></p></div>
            </div>

            <div class="slideItem" style="width: 400px; height: 530px; top: 0px; right: 265px; opacity: 1; z-index: 6; display: block;">
              <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                <p id="name6" style="font-size: 30px; font-weight: bold"></p><p id = "program6" style="font-size: 15px"></p>
                <br><br><br><Br><p id="bio6" style="font-size: 18px"></p><p id="website6" style="font-size: 15px"></p></div>
            </div>

            <div class="slideItem" style="width: 320px; height: 464px; top: 30px; right: 137px; opacity: 1; z-index: 5; display: block;">
              <div id = "profile" style="width: 400px; height: 400px; display: inline-block;">
                <div id="picture"><!--<img src="../static/img/yaleartshield.png" >--></div>
                <p id="name7" style="font-size: 30px; font-weight: bold"></p><p id = "program7" style="font-size: 15px"></p>
                <br><br><br><Br><p id="bio7" style="font-size: 18px"></p><p id="website7" style="font-size: 15px"></p></div>
            </div>

          </div>
          <!-- END CAROUSEL-->


        </div>
      <!--END CONTAINER-->
      <a class="left carousel-control" id="prevButton" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" id="nextButton" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    <!--END JUMBOTRON-->
  </div>
<!-- END OUTER CONTAINER-->



</body>
</html>
