<!doctype html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Yale Art - Programs</title>

		<!--
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		-->

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="SummerPrograms.css">

		<script src="script.js"></script>

		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Set the page to the width of the device and set the zoom level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">

	</head>

	<body>

		<!-- HEADER -->

		<div class="container-fluid">
			<div class="row" id="Yale-header">
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="Yale-header-left">
				<img src="/static/img/yaleartshield.png" alt="Yale Art Department Logo" class="img-responsive" id="Yale-header-logo">
				</div>

				<a href="#"><div class="col-lg-8 col-md-8 col-sm-6 col-xs-4"  id="Yale-header-center">
				<p>Yale - Art</p>
				</div></a>

				<a href="#"><div class="col-lg-2 col-md-2 col-sm-3 col-xs-4" id="Yale-header-right">
				<p>Contact <span class="glyphicon glyphicon-chevron-right"></span> </p>
				</div></a>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row" id="Yale-sub-header">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><p>Summer Programs</p></div>
			</div>
		</div>

		<!-- BODY -->

		<div class="container-fluid">
			<div class="row" id="Yale-core">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="Yale-core-left">
					
				<div class="panel panel-primary">
				
					<div class="panel-heading">
						<div class="container">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#">NORFORK</a></li>
								<li><a href="#">NEW HAVEN</a></li>
							</ul>
						</div>
					</div>

					<div class="panel-body fixed-panel">
					  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>

						<h4>Donec ultrices, metus</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>

						<p>Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>

						<h4>Donec ultrices, metus</h4>

						<p>Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>
						<h4>Donec ultrices, metus</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>

						<p>Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>

						<h4>Donec ultrices, metus</h4>

						<p>Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus tellus ac purus malesuada viverra. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio. Nulla tempus eget diam ac mollis. Donec ultrices, metus et commodo lacinia, velit orci aliquam ante, et cursus dolor nunc ac est. Nunc et orci sed quam mollis gravida nec non odio.</p>
					</div>
				</div>

				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="Yale-core-right">
					<img src="/static/img/SummerProgram.jpg" class="img-responsive" alt="Summer Students at Yale" id="Yale-core-right-image"> <!-- Manage rezise/crop -->
				</div>
			</div>
		</div>

		<!-- FOOTER -->

  		<div class="container-fluid">
			<div class="row" id="Yale-footer" style="background:grey;">

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-element"></div>

				<a href="#"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Arts</div></a>
				<a href="#"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Admission</div></a>
				<a href="#"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Programs</div></a>
				<a href="#"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Events</div></a>
				<a href="#"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Resources</div></a>

				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-element"></div>

			</div>
		</div>

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 
		<!-- Use downloaded version of Bootstrap -->
		<script src="js/bootstrap.min.js"></script>

	</body>

</html>