html {
    min-height: 100%;
    background-color: #EEEEEE;
}

body {
	min-height: 100%;
	top: 0;
	bottom: 0;
	position: relative;
	background-color: #EEEEEE;

}

li {
	opacity: 0;
}

.galleryhead {
	font-family: 'PT Serif';
	color: #04356b;
	font-weight: bold;
	margin: 0px;
}

.gallery{
	overflow:auto;
	white-space: nowrap;
	align-items: center;
	margin-top: 1vh;
	padding: 2vh;
	background-color: #E0E0E0;
	display: flex;
	justify-content: center;
}

.seq-preload-circle{
	fill: #04356b;
}

.frame{
	overflow:auto;
	white-space: nowrap;
	align-items: center;
	margin: 2vh;
	padding: 10px;
	background-color: #E0E0E0;
}

.gallery > a > .img-responsive{
	max-height: 20vh;
	float: left;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px black;
	z-index: 0;
	display: flex;
	flex-direction: row;
	margin-right: 3vw;
}


div a img{
	max-height: 20vh;
	float: left;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 10px black;
	z-index: 0;
	display: flex;
	margin-left: 1vh;
	margin-right: 1vh;
}


html, body, container-fluid, header, img {
	height: 100%;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

a: link{
	color: #04356b !important;
}

a: hover{
	color: #444400;
}

.btn-primary{
  background: #04356b !important;
}

/* Starting positions */
#sequence h2,
#sequence h3 {
  opacity: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#sequence h2 {
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px);
}

#sequence h3 {
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

/* Animate in positions for content */
#sequence .seq-in h2,
#sequence .seq-in h3 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* Animate out positions for content */
#sequence .seq-out h2,
#sequence .seq-out h3 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
