/* -------------------- GENERAL -------------------- */

html {
	min-height:100%;
}

body {
	min-height:100%;
	min-width:100%;

	font-size: 100%;
	color:#04356b;
	font-family: "PT serif", serif;

	overflow-x: hidden; /* To deal with some over on the right on the screen */
}

/* -------------------- CORE -------------------- */

#Yale-core {
	min-height: 75vh;
	max-height: 75vh;
	min-width: 100vw;
	max-width: 100vw;
	
    position:relative;
	z-index: 0;
}

#Yale-core-element, #Yale-core-first-element, #Yale-core-last-element{
	min-height: 75vh;
	max-height: 75vh;
	min-width:20vw;
	max-width:20vw;

	background-color:#04356b;

	color:white;
	font-size: 150%;
	font-weight: bold;

	text-align: center;

	padding-top:34vh;
}

#Yale-core-first-element, #Yale-core-element{
	border-width: 0.1vw;
	border-color: white;
	border-right-style: solid;
}

#invisibleHR {
	opacity: 0;
	margin: 0;
	padding: 0;
	padding-top: 2vh;
}

#ArtsIcon, #AdmissionIcon, #CoursesIcon, #ProgramsIcon, #EventsIcon {
	min-width: 3vw;
	max-width: 3vw;
	min-height: 3vw;
	max-height: 3vw;
}


/* -------------------- RESOURCES PANEL -------------------- */


#Yale-footer-element {
	min-height: 10vh;
	max-height: 10vh;
	
	box-shadow: 0 0 30px black;

	background-color: white;

	color:#04356b;
	font-size: 150%;
	font-weight: bold;

	text-align: center;
	padding-top: 3.5vh;

	z-index: 10;
}

#Yale-footer-first-element, #Yale-footer-last-element{
	min-height: 10vh;
	max-height: 10vh;
	
	background-color: #04356b;
}

