html {
    min-height: 100%;
    background-color: #EEEEEE;
}

body {
	min-height: 100%;
	top: 0;
	bottom: 0;
	position: relative;
	background-color: #EEEEEE;

}

html, body, container-fluid, header, img {
	height: 100%;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

a: link{
	color: #04356b !important;
}

a: hover{
	color: #444400;
}