hAlign: 'center',
vAlign: 'center',
hMargin: 0.4,
vMargin: 0.2,
frontWidth: 400,
frontHeight: 300,
carouselWidth: 1000,
carouselHeight: 1000,
left: 0,
right: 0,
top: 0,
bottom: 0,
back<a href="http://www.jqueryscript.net/zoom/">Zoom</a>: 0.8,
slidesPer<a href="http://www.jqueryscript.net/tags.php?/Scroll/">Scroll</a>: 5,
speed: 500,
buttonNav: 'none',
directionNav: false,
autoplay: true,
autoplayInterval: 3000,
pauseOnHover: true,
mouse: true,
shadow: false,
reflection: false,
reflectionHeight: 0.2,
reflectionOpacity: 0.5,
reflectionColor: '255,255,255',
description: false,
descriptionContainer: '.description',
backOpacity: 1,
before: function(carousel) {},
after: function(carousel) {}

/*.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}*/
