
<!-- FOOTER TEMPLATE -->

<div class="container-fluid">

	<div class="row" id="Yale-footer">

		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-element"></div>

		<a href="ArtsHomePage"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Arts</div></a>
		<a href="AdmissionHomePage"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Admission</div></a>
		<a href="ProgramsHomePage"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Programs</div></a>
		<a href="http://artscalendar.yale.edu/"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Events</div></a>
		<a href="HomePage"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="Yale-footer-element">Resources</div></a>
		<!-- -fill- link set up to the homepage for now. Will have to get the resource panel already expanded. -->

		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" id="Yale-footer-element"></div>

	</div>

</div>