

<!-- HEADER TEMPLATE -->
<link rel="stylesheet" href="/static/css/header.css">

<div class="row vertical-align" style="z-index: 100; position: relative; height: 15vh; box-shadow: 0 0 30px black">

	<div class="col-md-2" style=" flex-direction: column; text-align: center; height: inherit;">
		<img src="/static/img/yaleartshield.png" style="padding: 10px; height:100%;" alt="Yale Art Department Logo" class="img-rounded">
	</div>

	<div class="col-md-2"></div>

	<div class="col-md-4" style="justify-content: center; height: inherit;">
		<span class="text-nowrap" style="font-size: 48px; display: inline-block; font-weight: normal; color: black; font-family: 'PT Serif', 'serif';">Y A L E</span>
<!--</div>

	<div class="col-md-2" style="justify-content: flex-start; height: inherit;"> -->
		<img src="/static/img/art_stamp_small.png" style="flex-direction: column; padding: 10px; height:100%;" alt="Yale Art Department Logo" class="img-rounded">
	</div>

	<div class="col-md-2"></div>

	<div class="col-md-2" style="text-align: center; align-items: center; height: inherit;">
		<span><a href="/"><h4>Contact <span class="glyphicon glyphicon-chevron-right"></span></h4></a></span>
	</div>

</div>
