<!-- HEADER TEMPLATE -->
<link rel="stylesheet" href="/static/css/header.css">
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
		<script src="static/js/sequencejs/scripts/imagesloaded.pkgd.min.js"></script>
		<script src="static/js/sequencejs/scripts/hammer.min.js"></script>
		<script src="static/js/sequencejs/scripts/sequence.min.js"></script>
<div class="row vertical-align" style="z-index: 100; position: relative; height: 15vh; box-shadow: 0 0 30px black">
	<div class="col-md-2" style=" flex-direction: column; text-align: center; height: inherit;">
		<img src="/static/img/yaleartshield.png" style="padding: 10px; height:100%;" alt="Yale Art Department Logo" class="img-rounded">
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4" style="justify-content: center; height: inherit;">
		<a href="/HomePage">
			<span class="text-nowrap" style="font-size: 48px; display: inline-block; font-weight: normal; color: black; font-family: 'PT Serif', 'serif';">Y A L E</span>
		</a>
	<!--</div>
	<div class="col-md-2" style="justify-content: flex-start; height: inherit;"> -->
		<img src="/static/img/art_stamp_small.png" style="flex-direction: column; padding: 10px; height:100%;" alt="Yale Art Department Logo" class="img-rounded">
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2" style="text-align: center; align-items: center; height: inherit;">
	<div class="btn-group">
			<span><a href="/" class="btn btn-default" role="button"><h4>Home <span class="glyphicon glyphicon-home"></span></h4></a></span>

		<span>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><h4>Contact <span class="glyphicon glyphicon-chevron-right"></span></h4></button></span>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div style="background-color: #04356b; color: #E0E0E0;" class="modal-header">
					<button type="button" class="close" style="color: #E0E0E0;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Contact Us</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Dean's Office</h3></b> <h4>203-432-2606</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Registrar & Admissions</h3></b> <h4>203-432-2600</h4> <h4>artschool.info@yale.edu</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Financial Aid</h3></b> <h4>david.blackmon@yale.edu</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Digital Technology Office</h3></b> <h4>203-432-9120</h4> <h4>art.help@yale.edu</h4>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Donations & Gifts</h3></b> <h4>susan.sheehan@yale.edu</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Public Affairs/Media Inquiries</h3></b> <h4>sarah.stevens-morling@yale.edu</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<b><h3>Social Media</h3></b> <h4><a href="https://www.instagram.com/yaleschoolofart/">Follow us on Instagram</a></h4> <h4><a href="https://www.facebook.com/YaleSchoolofArt/">Find us on Facebook</a></h4>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<flex>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 0px; visibility: hidden;" id="sequence">
	<ul style="height: 0px;" class="seq-canvas">
	<li class="step1"></li>
	</ul>
	</div>
	<script src="static/js/sequencejs/scripts/sequence-theme.basic.js"></script>
